WsPoderesRequestPFNotariosInscribe2.0.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rfcNotario">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="13"/>
        <xs:maxLength value="13"/>
        <xs:pattern value="^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:element>
    <xs:element name="rfcPersonalNotario">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="13"/>
        <xs:maxLength value="13"/>
        <xs:pattern value="^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IdTramite">
      <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="25"/>
        <xs:pattern value="^((?:[A-Za-z0-9-'.,@:?!()$#/\\]+|&[^#])*&?)$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InformacionOtorgante">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rfc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:minLength value="13"/>
            <xs:maxLength value="13"/>
            <xs:pattern value="^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$"/>
            </xs:restriction>
          </xs:simpleType> 
          <xs:annotation>
            <xs:documentation>optional</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="curp">
          <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:minLength value="18"/>
             <xs:maxLength value="18"/>
             <xs:pattern value="^[A-ZÑ&]{1}[AEIOU]{1}[A-ZÑ&]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-ZÑ&]{1}[0-9]{1}​"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionPoder">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element type="xs:dateTime" name="fechaInstrumento"/>
        <xs:element type="xs:boolean" name="isEscritura">
        </xs:element>
        <xs:element type="xs:string" name="numeroInstrumento"/>
        <xs:element type="xs:string" name="volumen">
          <xs:annotation>
            <xs:documentation>Optional</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="libro">
          <xs:annotation>
            <xs:documentation>Optional</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="foja">
          <xs:annotation>
            <xs:documentation>Optional</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Otorgamientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PoderOtorgado" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:boolean" name="tieneRFC">
              </xs:element>
              <xs:element type="xs:string" name="rfcPF">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="13"/>
                    <xs:maxLength value="13"/>
                    <xs:pattern value="^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$"/>
                    </xs:restriction>
                </xs:simpleType> 
                <xs:annotation>
                  <xs:documentation>optional</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="curp">
              <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="18"/>
                    <xs:maxLength value="18"/>
                    <xs:pattern value="^[A-ZÑ&]{1}[AEIOU]{1}[A-ZÑ&]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-ZÑ&]{1}[0-9]{1}​"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="cargo">
                <xs:annotation>
                  <xs:documentation>optional</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Facultades" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="consecutivo"/>
                    <xs:element type="xs:integer" name="tipoFacultad"/>
                    <xs:element type="xs:string" name="descripcionFacultad">
                        <xs:maxLenght value="1000"/>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="fechaOtorgamiento"/>
              <xs:element type="xs:dateTime" name="fechaRevocacion">
                <xs:annotation>
                  <xs:documentation>Optional</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtrosActos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="acto" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="tipoActo"/>
              <xs:element type="xs:integer" name="idAntecendente"/>
              <xs:element type="xs:integer" name="idPoderAsociado"/>
              <xs:element type="xs:boolean" name="isTotal"/>
              <xs:element name="Facultades" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="idRegistroFacultad"/>
                    <xs:element type="xs:dateTime" name="fechaRevocacion"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>